In [1]:
import pandas as pd

df0 = pd.read_csv(r'C:\Users\abhiw\Desktop\Final Project\data\cicids2017\MachineLearningCSV\MachineLearningCVE\Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv')
df1 = pd.read_csv(r'C:\Users\abhiw\Desktop\Final Project\data\cicids2017\MachineLearningCSV\MachineLearningCVE\Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv')
df2 = pd.read_csv(r'C:\Users\abhiw\Desktop\Final Project\data\cicids2017\MachineLearningCSV\MachineLearningCVE\Friday-WorkingHours-Morning.pcap_ISCX.csv')
df3 = pd.read_csv(r'C:\Users\abhiw\Desktop\Final Project\data\cicids2017\MachineLearningCSV\MachineLearningCVE\Monday-WorkingHours.pcap_ISCX.csv')
df4 = pd.read_csv(r'C:\Users\abhiw\Desktop\Final Project\data\cicids2017\MachineLearningCSV\MachineLearningCVE\Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv')
df5 = pd.read_csv(r'C:\Users\abhiw\Desktop\Final Project\data\cicids2017\MachineLearningCSV\MachineLearningCVE\Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv')
df6 = pd.read_csv(r'C:\Users\abhiw\Desktop\Final Project\data\cicids2017\MachineLearningCSV\MachineLearningCVE\Tuesday-WorkingHours.pcap_ISCX.csv')
df7 = pd.read_csv(r'C:\Users\abhiw\Desktop\Final Project\data\cicids2017\MachineLearningCSV\MachineLearningCVE\Wednesday-workingHours.pcap_ISCX.csv')

print(df0.shape)
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)
print(df6.shape)
print(df7.shape)

data = [df0,df1,df2,df3,df4,df5,df6,df7]
df  = pd.concat(data)

print("Read {} rows.".format(len(df)))
#df.dropna(inplace=True,axis=1)

pd.set_option('display.max_columns', 5)
pd.set_option('display.max_rows', 5)
# display 5 rows
display(df[0:5])

(225745, 79)
(286467, 79)
(191033, 79)
(529918, 79)
(288602, 79)
(170366, 79)
(445909, 79)
(692703, 79)
Read 2830743 rows.

    Destination Port   Flow Duration  ...   Idle Min   Label
0              54865               3  ...          0  BENIGN
1              55054             109  ...          0  BENIGN
2              55055              52  ...          0  BENIGN
3              46236              34  ...          0  BENIGN
4              54863               3  ...          0  BENIGN

[5 rows x 79 columns]

In [2]:
df1 = df.sample(frac =.1)

In [3]:
df1.shape

(283074, 79)

In [4]:
display(df1[0:5])

         Destination Port   Flow Duration  ...   Idle Min   Label
215752                 80         5576902  ...          0  BENIGN
46819                  80         1696438  ...          0  BENIGN
32529                  53           30930  ...          0  BENIGN
475179                 53             397  ...          0  BENIGN
40284                 443         5817653  ...    5619210  BENIGN

[5 rows x 79 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df1[' Label'] = lb.fit_transform(df1[' Label'])

In [6]:
display(df1[0:5])

         Destination Port   Flow Duration  ...   Idle Min   Label
215752                 80         5576902  ...          0       0
46819                  80         1696438  ...          0       0
32529                  53           30930  ...          0       0
475179                 53             397  ...          0       0
40284                 443         5817653  ...    5619210       0

[5 rows x 79 columns]

In [7]:
df1.shape

(283074, 79)

In [8]:
le_name_mapping = dict(zip(lb.classes_, lb.transform(lb.classes_)))
print(le_name_mapping)

{'BENIGN': 0, 'Bot': 1, 'DDoS': 2, 'DoS GoldenEye': 3, 'DoS Hulk': 4, 'DoS Slowhttptest': 5, 'DoS slowloris': 6, 'FTP-Patator': 7, 'Heartbleed': 8, 'Infiltration': 9, 'PortScan': 10, 'SSH-Patator': 11, 'Web Attack � Brute Force': 12, 'Web Attack � Sql Injection': 13, 'Web Attack � XSS': 14}

In [9]:
obj = df1.isna().sum()
for key,value in obj.iteritems():
    print(key,",",value)

 Destination Port , 0
 Flow Duration , 0
 Total Fwd Packets , 0
 Total Backward Packets , 0
Total Length of Fwd Packets , 0
 Total Length of Bwd Packets , 0
 Fwd Packet Length Max , 0
 Fwd Packet Length Min , 0
 Fwd Packet Length Mean , 0
 Fwd Packet Length Std , 0
Bwd Packet Length Max , 0
 Bwd Packet Length Min , 0
 Bwd Packet Length Mean , 0
 Bwd Packet Length Std , 0
Flow Bytes/s , 127
 Flow Packets/s , 0
 Flow IAT Mean , 0
 Flow IAT Std , 0
 Flow IAT Max , 0
 Flow IAT Min , 0
Fwd IAT Total , 0
 Fwd IAT Mean , 0
 Fwd IAT Std , 0
 Fwd IAT Max , 0
 Fwd IAT Min , 0
Bwd IAT Total , 0
 Bwd IAT Mean , 0
 Bwd IAT Std , 0
 Bwd IAT Max , 0
 Bwd IAT Min , 0
Fwd PSH Flags , 0
 Bwd PSH Flags , 0
 Fwd URG Flags , 0
 Bwd URG Flags , 0
 Fwd Header Length , 0
 Bwd Header Length , 0
Fwd Packets/s , 0
 Bwd Packets/s , 0
 Min Packet Length , 0
 Max Packet Length , 0
 Packet Length Mean , 0
 Packet Length Std , 0
 Packet Length Variance , 0
FIN Flag Count , 0
 SYN Flag Count , 0
 RST Flag Count , 0
 PSH Flag Count , 0
 ACK Flag Count , 0
 URG Flag Count , 0
 CWE Flag Count , 0
 ECE Flag Count , 0
 Down/Up Ratio , 0
 Average Packet Size , 0
 Avg Fwd Segment Size , 0
 Avg Bwd Segment Size , 0
 Fwd Header Length.1 , 0
Fwd Avg Bytes/Bulk , 0
 Fwd Avg Packets/Bulk , 0
 Fwd Avg Bulk Rate , 0
 Bwd Avg Bytes/Bulk , 0
 Bwd Avg Packets/Bulk , 0
Bwd Avg Bulk Rate , 0
Subflow Fwd Packets , 0
 Subflow Fwd Bytes , 0
 Subflow Bwd Packets , 0
 Subflow Bwd Bytes , 0
Init_Win_bytes_forward , 0
 Init_Win_bytes_backward , 0
 act_data_pkt_fwd , 0
 min_seg_size_forward , 0
Active Mean , 0
 Active Std , 0
 Active Max , 0
 Active Min , 0
Idle Mean , 0
 Idle Std , 0
 Idle Max , 0
 Idle Min , 0
 Label , 0

In [10]:
df1.dropna(inplace=True)

In [11]:
obj = df1.isnull().sum()
for key,value in obj.iteritems():
    print(key,",",value)

 Destination Port , 0
 Flow Duration , 0
 Total Fwd Packets , 0
 Total Backward Packets , 0
Total Length of Fwd Packets , 0
 Total Length of Bwd Packets , 0
 Fwd Packet Length Max , 0
 Fwd Packet Length Min , 0
 Fwd Packet Length Mean , 0
 Fwd Packet Length Std , 0
Bwd Packet Length Max , 0
 Bwd Packet Length Min , 0
 Bwd Packet Length Mean , 0
 Bwd Packet Length Std , 0
Flow Bytes/s , 0
 Flow Packets/s , 0
 Flow IAT Mean , 0
 Flow IAT Std , 0
 Flow IAT Max , 0
 Flow IAT Min , 0
Fwd IAT Total , 0
 Fwd IAT Mean , 0
 Fwd IAT Std , 0
 Fwd IAT Max , 0
 Fwd IAT Min , 0
Bwd IAT Total , 0
 Bwd IAT Mean , 0
 Bwd IAT Std , 0
 Bwd IAT Max , 0
 Bwd IAT Min , 0
Fwd PSH Flags , 0
 Bwd PSH Flags , 0
 Fwd URG Flags , 0
 Bwd URG Flags , 0
 Fwd Header Length , 0
 Bwd Header Length , 0
Fwd Packets/s , 0
 Bwd Packets/s , 0
 Min Packet Length , 0
 Max Packet Length , 0
 Packet Length Mean , 0
 Packet Length Std , 0
 Packet Length Variance , 0
FIN Flag Count , 0
 SYN Flag Count , 0
 RST Flag Count , 0
 PSH Flag Count , 0
 ACK Flag Count , 0
 URG Flag Count , 0
 CWE Flag Count , 0
 ECE Flag Count , 0
 Down/Up Ratio , 0
 Average Packet Size , 0
 Avg Fwd Segment Size , 0
 Avg Bwd Segment Size , 0
 Fwd Header Length.1 , 0
Fwd Avg Bytes/Bulk , 0
 Fwd Avg Packets/Bulk , 0
 Fwd Avg Bulk Rate , 0
 Bwd Avg Bytes/Bulk , 0
 Bwd Avg Packets/Bulk , 0
Bwd Avg Bulk Rate , 0
Subflow Fwd Packets , 0
 Subflow Fwd Bytes , 0
 Subflow Bwd Packets , 0
 Subflow Bwd Bytes , 0
Init_Win_bytes_forward , 0
 Init_Win_bytes_backward , 0
 act_data_pkt_fwd , 0
 min_seg_size_forward , 0
Active Mean , 0
 Active Std , 0
 Active Max , 0
 Active Min , 0
Idle Mean , 0
 Idle Std , 0
 Idle Max , 0
 Idle Min , 0
 Label , 0

In [12]:
df1.shape

(282947, 79)

In [13]:
import numpy as np
print("printing column name where infinity is present")
col_name = df1.columns.to_series()[np.isinf(df1).any()]
print(col_name)

printing column name where infinity is present
Flow Bytes/s          Flow Bytes/s
 Flow Packets/s     Flow Packets/s
dtype: object

In [14]:
df1.replace([np.inf,-np.inf],np.nan, inplace = True)

In [15]:
df1.dropna(inplace=True)

In [16]:
df1.shape

(282776, 79)

In [17]:
obj = df1.nunique()
for key,value in obj.iteritems():
    print(key,",",value)

 Destination Port , 24250
 Flow Duration , 138327
 Total Fwd Packets , 474
 Total Backward Packets , 604
Total Length of Fwd Packets , 6774
 Total Length of Bwd Packets , 15898
 Fwd Packet Length Max , 3095
 Fwd Packet Length Min , 195
 Fwd Packet Length Mean , 21879
 Fwd Packet Length Std , 37326
Bwd Packet Length Max , 3358
 Bwd Packet Length Min , 408
 Bwd Packet Length Mean , 26861
 Bwd Packet Length Std , 34437
Flow Bytes/s , 180626
 Flow Packets/s , 153333
 Flow IAT Mean , 146371
 Flow IAT Std , 118781
 Flow IAT Max , 95379
 Flow IAT Min , 27808
Fwd IAT Total , 63864
 Fwd IAT Mean , 85797
 Fwd IAT Std , 76056
 Fwd IAT Max , 62605
 Fwd IAT Min , 20550
Bwd IAT Total , 55449
 Bwd IAT Mean , 76056
 Bwd IAT Std , 71871
 Bwd IAT Max , 55049
 Bwd IAT Min , 10374
Fwd PSH Flags , 2
 Bwd PSH Flags , 1
 Fwd URG Flags , 2
 Bwd URG Flags , 1
 Fwd Header Length , 1258
 Bwd Header Length , 1363
Fwd Packets/s , 152314
 Bwd Packets/s , 138064
 Min Packet Length , 151
 Max Packet Length , 3893
 Packet Length Mean , 38480
 Packet Length Std , 57935
 Packet Length Variance , 57067
FIN Flag Count , 2
 SYN Flag Count , 2
 RST Flag Count , 2
 PSH Flag Count , 2
 ACK Flag Count , 2
 URG Flag Count , 2
 CWE Flag Count , 2
 ECE Flag Count , 2
 Down/Up Ratio , 14
 Average Packet Size , 37251
 Avg Fwd Segment Size , 21879
 Avg Bwd Segment Size , 26861
 Fwd Header Length.1 , 1258
Fwd Avg Bytes/Bulk , 1
 Fwd Avg Packets/Bulk , 1
 Fwd Avg Bulk Rate , 1
 Bwd Avg Bytes/Bulk , 1
 Bwd Avg Packets/Bulk , 1
Bwd Avg Bulk Rate , 1
Subflow Fwd Packets , 474
 Subflow Fwd Bytes , 6774
 Subflow Bwd Packets , 604
 Subflow Bwd Bytes , 15899
Init_Win_bytes_forward , 4395
 Init_Win_bytes_backward , 4473
 act_data_pkt_fwd , 369
 min_seg_size_forward , 20
Active Mean , 39447
 Active Std , 20486
 Active Max , 38930
 Active Min , 30324
Idle Mean , 24168
 Idle Std , 20289
 Idle Max , 18348
 Idle Min , 27588
 Label , 15

In [18]:
obj = df1.nunique()
L1 =[]
L2=[]
for key,value in obj.iteritems():
  L1.append(key)
  L2.append(value)
  d = dict(zip(L1,L2))

In [19]:
print(d)

{' Destination Port': 24250, ' Flow Duration': 138327, ' Total Fwd Packets': 474, ' Total Backward Packets': 604, 'Total Length of Fwd Packets': 6774, ' Total Length of Bwd Packets': 15898, ' Fwd Packet Length Max': 3095, ' Fwd Packet Length Min': 195, ' Fwd Packet Length Mean': 21879, ' Fwd Packet Length Std': 37326, 'Bwd Packet Length Max': 3358, ' Bwd Packet Length Min': 408, ' Bwd Packet Length Mean': 26861, ' Bwd Packet Length Std': 34437, 'Flow Bytes/s': 180626, ' Flow Packets/s': 153333, ' Flow IAT Mean': 146371, ' Flow IAT Std': 118781, ' Flow IAT Max': 95379, ' Flow IAT Min': 27808, 'Fwd IAT Total': 63864, ' Fwd IAT Mean': 85797, ' Fwd IAT Std': 76056, ' Fwd IAT Max': 62605, ' Fwd IAT Min': 20550, 'Bwd IAT Total': 55449, ' Bwd IAT Mean': 76056, ' Bwd IAT Std': 71871, ' Bwd IAT Max': 55049, ' Bwd IAT Min': 10374, 'Fwd PSH Flags': 2, ' Bwd PSH Flags': 1, ' Fwd URG Flags': 2, ' Bwd URG Flags': 1, ' Fwd Header Length': 1258, ' Bwd Header Length': 1363, 'Fwd Packets/s': 152314, ' Bwd Packets/s': 138064, ' Min Packet Length': 151, ' Max Packet Length': 3893, ' Packet Length Mean': 38480, ' Packet Length Std': 57935, ' Packet Length Variance': 57067, 'FIN Flag Count': 2, ' SYN Flag Count': 2, ' RST Flag Count': 2, ' PSH Flag Count': 2, ' ACK Flag Count': 2, ' URG Flag Count': 2, ' CWE Flag Count': 2, ' ECE Flag Count': 2, ' Down/Up Ratio': 14, ' Average Packet Size': 37251, ' Avg Fwd Segment Size': 21879, ' Avg Bwd Segment Size': 26861, ' Fwd Header Length.1': 1258, 'Fwd Avg Bytes/Bulk': 1, ' Fwd Avg Packets/Bulk': 1, ' Fwd Avg Bulk Rate': 1, ' Bwd Avg Bytes/Bulk': 1, ' Bwd Avg Packets/Bulk': 1, 'Bwd Avg Bulk Rate': 1, 'Subflow Fwd Packets': 474, ' Subflow Fwd Bytes': 6774, ' Subflow Bwd Packets': 604, ' Subflow Bwd Bytes': 15899, 'Init_Win_bytes_forward': 4395, ' Init_Win_bytes_backward': 4473, ' act_data_pkt_fwd': 369, ' min_seg_size_forward': 20, 'Active Mean': 39447, ' Active Std': 20486, ' Active Max': 38930, ' Active Min': 30324, 'Idle Mean': 24168, ' Idle Std': 20289, ' Idle Max': 18348, ' Idle Min': 27588, ' Label': 15}

In [20]:
dff = df1

In [21]:
display(dff[0:5])

         Destination Port   Flow Duration  ...   Idle Min   Label
215752                 80         5576902  ...          0       0
46819                  80         1696438  ...          0       0
32529                  53           30930  ...          0       0
475179                 53             397  ...          0       0
40284                 443         5817653  ...    5619210       0

[5 rows x 79 columns]

In [22]:
dff.shape

(282776, 79)

In [23]:
for i in d:
  if d[i] == 1:
    dff = dff.drop([i], axis = 'columns')

In [24]:
print(df1.shape)
print(dff.shape)

(282776, 79)
(282776, 71)

In [25]:
display(dff[0:5])

         Destination Port   Flow Duration  ...   Idle Min   Label
215752                 80         5576902  ...          0       0
46819                  80         1696438  ...          0       0
32529                  53           30930  ...          0       0
475179                 53             397  ...          0       0
40284                 443         5817653  ...    5619210       0

[5 rows x 71 columns]

In [ ]:
#X = dff.drop([' Label'], axis='columns')
#y = dff[' Label']

In [27]:
from sklearn.preprocessing import MinMaxScaler
y = dff[[' Label']]
x = dff.drop([' Label', ], axis = 1)

sc = MinMaxScaler()
x = sc.fit_transform(x)

print(x)
print(y)

[[1.22072175e-03 4.64741921e-02 9.96244160e-06 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.22072175e-03 1.41369918e-02 2.14192494e-04 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [8.08728161e-04 2.57758335e-04 4.98122080e-06 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [7.50362402e-01 4.16666670e-08 4.98122080e-06 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [8.08728161e-04 2.15000002e-06 4.98122080e-06 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [8.08728161e-04 1.94166668e-06 4.98122080e-06 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]
         Label
215752       0
46819        0
...        ...
3808         0
373310       0

[282776 rows x 1 columns]

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 42)
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(189459, 70) (93317, 70)
(189459, 1) (93317, 1)

In [31]:
from sklearn.svm import SVC
  
model = SVC(gamma = 'scale', kernal = 'rbf')
#start_time = time.time()
model.fit(x_train, y_train.values.ravel())
#end_time = time.time()
#print("Training time: ", end_time-start_time)

SVC()

In [34]:
y_test_pred = model.predict(x_train)

In [35]:
print("Train score is:", model.score(x_train, y_train))
print("Test score is:", model.score(x_test, y_test))

Train score is: 0.949076053394138
Test score is: 0.9497947855160367

In [36]:
model.save(os.path.join(r"C:\Users\abhiw\Desktop\Final Project\SVM_CICIDS_MODEL.h5"))

AttributeError: 'SVC' object has no attribute 'save'

In [37]:
import pickle
filename = 'SVM_CICIDS_model.h5'
pickle.dump(model, open(filename, 'wb'))